html nav { 
background: #e6e9e9; 
background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%); 
-webkit-font-smoothing: antialiased; 
} 
body { 
background: #fff; 
box-shadow: 0 0 2px rgba(0, 0, 0, 0.06); 
color: #545454; 
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
font-size: 16px; 
line-height: 1.5; 
margin: 0 auto; 
max-width: 800px; 
padding: 2em 2em 4em; 
} 

h1, h2, h3, h4, h5, h6 { 
color: #222; 
font-weight: 600; 
line-height: 1.3; 
} 

h2 { 
margin-top: 1.3em; 
} 

a { 
color: #0083e8; 
} 

b, strong { 
font-weight: 600; 
} 

samp { 
display: none; 
} 

img { 
animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1; 
background: transparent; 
border: 10px solid rgba(0, 0, 0, 0.0); 
border-radius: 4px; 
display: block; 
margin: 1.3em auto; 
max-width: 95%; 
} 

@keyframes colorize { 
0% { 
-webkit-filter: grayscale(100%); 
filter: grayscale(100%); 
} 
100% { 
-webkit-filter: grayscale(0%); 
filter: grayscale(0%); 
} 
}

a.button16 {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  outline: none;
  border-radius: 1px;
    color:black;
    font-size:25px;
}
a.button16:hover {
  background-image:
   radial-gradient(1px 45% at 0% 50%, rgba(0,0,0,.6), transparent),
   radial-gradient(1px 45% at 100% 50%, rgba(0,0,0,.6), transparent); 
}
a.button16:active  {
  background-image:
   radial-gradient(45% 45% at 50% 100%, rgba(255,255,255,.9), rgba(255,255,255,0)),
   linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.3));
  box-shadow:
   inset rgba(162,95,42,.4) 0 0 0 1px,
   inset rgba(255,255,255,.9) 0 0 1px 3px;
}

#content {
  float: right ;
  width: 50% ;
}
#navbar {
  float: right;
  width: 50%;
}

header{
width: 100%;
background: #ffffff;
height: 70px;
}

.title{
    background: #ffffff url(%D0%9A%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8/l_86e1a696.jpg) no-repeat 5% 50%;
font-size: 36px;
padding-top: 10px;
text-align: center;
}

.button{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:none; 
  
 font:15px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#000000; 
 background:#ffffff; 
 -webkit-box-shadow:inset 0px 0px 1px #ffffff;  -moz-box-shadow:inset 0px 0px 1px #ffffff;  box-shadow:inset 0px 0px 1px #ffffff;  
  
  }